<form (ngSubmit)="onSubmit()" #form>
  <!-- <p>
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" />
  </p> -->
  <app-control title="Title">
    <input id="title" name="title" type="text"  [(ngModel)]="entertedTitle" />
  </app-control>
  <app-control title="Request">
    <textarea id="request" name="request" rows="3"  [(ngModel)]="entertedRequest"></textarea>
  </app-control>
  <!-- <p>
    <label for="request">Request:</label>
    <textarea id="request" name="request" rows="3"></textarea>
  </p> -->
  <p>
    <button type="submit" appButton>
        Submit 
        <span ngProjectAs="icon">✔</span>
    </button>
    <!-- <button type="submit">
      <span>Submit Ticket</span>
      <span class="icon">✔</span>
    </button> -->
  </p>
</form>
